<PageTitle>Inicio</PageTitle>
<style>
    .presentation {
        padding: 4rem 0;
        background-color: #f8f9fa;
        color: #333;
    }

        .presentation h1 {
            font-family: 'Open Sans', sans-serif;
            color: #007bff; 
        }

        .presentation p {
            font-family: 'Open Sans', sans-serif;
            color: #6c757d; 
        }

        .presentation .btn-primary {
            background-color: black;
            border-color: black;
        }

            .presentation .btn-primary:hover {
                background-color: orange;
                border-color: #004085;
                color:black
            }
</style>
<section class="presentation">
    <div class="container text-center">
        <h4 class="display-5">Limpieza Total: Encuentra Todo lo que Necesitas Aquí</h4>
        <h5 class="lead">Bienvenidos a nuestra tienda, donde la limpieza se convierte en una experiencia. Aquí encontrarás todo 
            lo que necesitas para mantener tu hogar, oficina o negocio impecable. Desde detergentes hasta cepillos especializados, 
            nuestra selección es amplia y de alta calidad. ¿Buscas productos ecológicos? También los tenemos. Ven y descubre cómo hacer 
            que cada rincón brille con nuestros productos confiables y efectivos. ¡La limpieza nunca fue tan emocionante!</h5>
        <a class="btn btn-primary btn-lg" href="/productosdestacados" role="button">Explora Nuestros Productos</a>
    </div>
</section>

@code {

}
